registry = https://npm.pkg.github.com/rahuliipa/common/tree/main/npm/
# _auth = `""aW5zdXJ""1bi1kZX""Y6blJDR""jJSWkV6""Yzl4NlhF""`
# registry = https://us-east4-npm.pkg.dev/insurun-opscloud/insurun-npm-package-us-et4-ar/
# //us-east4-npm.pkg.dev/insurun-opscloud/insurun-npm-package-us-et4-ar/:always-auth=true
# //us-east4-npm.pkg.dev/insurun-opscloud/insurun-npm-package-us-et4-ar/:_authToken="ya29.a0Ad52N39WBYJM2Unme9UH4SOdyCjrpsllnykaF_sL96XbbAJjv4LbDAtY7nRKmB1bmZdWXmpCuiXzVHvmYm6dJDeMygPpPALHq08lWGu9zAeEhzvlqlPmJ6SkFxI9uxSLGCoZZRmORG-lSCW5NrIRDii3o2eWlB4VJZCIMKOwzY4aCgYKASQSARESFQHGX2MiFp00XKSBdJKJUhG0I4tJGQ0178"
always-auth = true